@media(min-width:1800px){
    #movies .col-md-3 img{
        object-fit:  contain;
        max-width: 100%;
    }
    #movies .well {
        height: auto;
    }
    .btn, .btn-primary{
        margin-top: 8px;
        margin-top: auto;
        margin-bottom: 0;
        align-self: auto;
    }
    h5{
        margin-top: 8px;
    }
    .medium{
        width: 75%;
    }
    .form-label{
        font-size: 1.8em;
        word-break: break-all;
    }
    .backup_picture{
        object-fit: contain;
        vertical-align: middle;
        width: 360px; 
        max-height: 451px;
    }
    .accordion{
        max-width: 40%;
        min-height: 451px;
        display: block;
    }
    /*accordion-collapse???*/
    .accordion-collapse .accordion-body,
    .accordion-collapse .accordion-body .list-group{
        height: 344px;
    }
    .accordion-body{
        padding: 0;
    }
    .accordion-body .list-group{
        font-size: 1.33em; 
        overflow: hidden; 
        overflow-y: scroll;
    }
    .accordion-body .list-group .list-group-item{
        word-break: break-all;
    }
    .row>.well>h3{
        font-size: 2.5em;
    }
    #plot{
        font-size: 1em;
    }
    #plotContainer{
        margin-top: 30px;
    }
}

@media(min-width:1400px) and (max-width:1799px){
    #movies .col-md-3 img{
        object-fit:  contain;
        max-width: 100%;
    }
    #movies .well {
        height: auto;
    }
    .btn, .btn-primary{
        margin-top: 4px;
        margin-bottom: 0;
        align-self: auto;
    }
    h5{
        margin-top: 8px;
        font-size: 1.5em;
    }
    .medium{
        width: 75%;
    }
    .form-label{
        font-size: 1.8em;
        word-break: break-all;
    }
    .backup_picture{
        object-fit: contain;
        vertical-align: middle;
        width: 360px; 
        max-height: 451px;
    }
    .accordion{
        max-width: 40%;
        min-height: 451px;
        display: block;
    }
    /*accordion-collapse???*/
    .accordion-collapse .accordion-body,
    .accordion-collapse .accordion-body .list-group{
        height: 344px;
    }
    .accordion-body{
        padding: 0;
    }
    .accordion-body .list-group{
        font-size: 1.33em; 
        overflow: hidden; 
        overflow-y: scroll;
    }
    .accordion-body .list-group .list-group-item{
        word-break: break-all;
    }
    .row>.well>h3{
        font-size: 2.5em;
    }
    #plot{
        font-size: 1em;
    }
    #plotContainer{
        margin-top: 30px;
    }
}

@media(min-width:1200px) and (max-width:1399px){
    #movies .col-md-3 img{
        /*object-fit:  fill;
        без max width! */
        object-fit:  contain;
        max-width: 100%;
    }
    #movies .well {
        height: auto;
    }
    .btn, .btn-primary{
        margin-top: 4px;
        margin-top: auto;
        margin-bottom: 0;
        align-self: auto;
    }
    h5{
        margin-top: 8px;
        font-size: 1.3em;
    }
    .medium{
        width: 75%;
    }
    .form-label{
        font-size: 1.8em;
        word-break: break-all;
    }
    .backup_picture{
        object-fit: contain;
        vertical-align: middle;
        width: 360px; 
        max-height: 451px;
    }
    .accordion{
        max-width: 40%;
        min-height: 451px;
        display: block;
    }
    /*accordion-collapse???*/
    .accordion-collapse .accordion-body,
    .accordion-collapse .accordion-body .list-group{
        height: 344px;
    }
    .accordion-body{
        padding: 0;
    }
    .accordion-body .list-group{
        font-size: 1.33em; 
        overflow: hidden; 
        overflow-y: scroll;
    }
    .accordion-body .list-group .list-group-item{
        word-break: break-all;
    }
    .row>.well>h3{
        font-size: 2.5em;
    }
    #plot{
        font-size: 1em;
    }
    #plotContainer{
        margin-top: 30px;
    }
}

@media(min-width:992px) and (max-width:1199px){
    #movies .col-md-3 img{
        object-fit:  contain;
        max-width: 100%;
    }
    #movies .well {
        height: auto;
    }
    .btn, .btn-primary{
        margin-top: 4px;
        margin-top: auto;
        margin-bottom: 0;
        align-self: auto;
    }
    .col-md-3{
        width: 33.333333333%;
    }
    h5{
        margin-top: 8px;
        font-size: 1em;
    }
    .medium{
        width: 75%;
    }
    .form-label{
        font-size: 1.8em;
        word-break: break-all;
    }
    .backup_picture{
        object-fit: contain;
        vertical-align: middle;
        width: 302px; 
        max-height: 417px;
    }
    .accordion{
        max-width: 57%;
        display: block;
    }
    /*accordion-collapse???*/
    .accordion-collapse .accordion-body,
    .accordion-collapse .accordion-body .list-group{
        height: 310px;
    }
    .accordion-body{
        padding: 0;
    }
    .accordion-body .list-group{
        font-size: 1.13em; 
        overflow: hidden; 
        overflow-y: scroll;
    }
    .accordion-body .list-group .list-group-item{
        word-break: break-all;
    }
    .row>.well>h3{
        font-size: 2.1em;
    }
    #plot{
        font-size: 1em;
    }
    #plotContainer{
        margin-top: 30px;
    }
}

@media(min-width:768px) and (max-width:992px){
    #movies .col-md-3 img{
        object-fit:  contain;
        max-width: 100%;
    }
    #movies .well {
        height: auto;
    }
    .btn, .btn-primary{
        margin-top: 4px;
        margin-top: auto;
        margin-bottom: 0;
        align-self: auto;
        font-size: 13px;
    }
    .col-md-3{
        width: 33.333333333%;
    }
    h5{
        margin-top: 8px;
        font-size: 1em;
    }
    .medium{
        width: 75%;
    }
    .form-label{
        font-size: 1.7em;
        word-break: break-all;
    }
    .backup_picture{
        object-fit: contain;
        vertical-align: middle;
        width: 310px; 
        max-height: 372px;
    }
    .accordion{
        max-width: 45%;
        min-height: 372px;
        display: block;
    }
    /*accordion-collapse???*/
    .accordion-collapse .accordion-body,
    .accordion-collapse .accordion-body .list-group{
        height: 246px;
    }
    .accordion-body{
        padding: 0;
    }
    .accordion-body .list-group{
        font-size: 0.86em; 
        overflow: hidden; 
        overflow-y: scroll;
    }
    .accordion-body .list-group .list-group-item{
        word-break: break-all;
    }
    .row>.well>h3{
        font-size: 1.8em;
    }
    #plot{
        font-size: 1em;
    }
    #plotContainer{
        margin-top: 30px;
    }
}

@media(min-width:576px) and (max-width:768px){
    #movies .col-md-3 img{
        object-fit:  contain;
        max-width: 100%;
    }
    #movies .well {
        height: auto;
    }
    .btn, .btn-primary{
        margin-top: 4px;
        margin-top: auto;
        margin-bottom: 0;
        align-self: auto;
        font-size: 13px;
    }
    .col-md-3{
        width: 50%;
    }
    h5{
        margin-top: 8px;
        font-size: 1em;
    }
    .medium{
        width: 75%;
    }
    .form-label{
        font-size: 1.7em;
        word-break: break-all;
        text-align: center;
    }
    .backup_picture{
        object-fit: contain;
        vertical-align: middle;
        width: 70%;
        margin-left: 15%; 
    }
    .accordion{
        width: 100%;
        margin-top: 30px;
        bottom: 0;
        margin-bottom: 30px;
        display: block;
    }
    /*accordion-collapse???*/
    .accordion-collapse .accordion-body,
    .accordion-collapse .accordion-body .list-group{
        height: 265px;
    }
    .accordion-body{
        padding: 0;
    }
    .accordion-body .list-group{
        font-size: 0.86em; 
        overflow: hidden; 
        overflow-y: scroll;
    }
    .accordion-body .list-group .list-group-item{
        word-break: break-all;
    }
    .row>.well>h3{
        font-size: 1.55em;
    }
    #plot{
        font-size: 1em;
    }
    #plotContainer{
        margin-top: 0px;
        margin-left: 0%;
    }
}

@media(min-width:450px) and (max-width:576px){
    #movies .col-md-3 img{
        object-fit:  contain;
        max-width: 100%;
    }
    #movies .well {
        height: auto;
    }
    .btn, .btn-primary{
        margin-top: 4px;
        margin-top: auto;
        margin-bottom: 0;
        align-self: auto;
        font-size: 13px;
    }
    .col-md-3{
        width: 100%;
    }
    h5{
        margin-top: 8px;
        font-size: 1em;
    }
    .medium{
        width: 75%;
    }
    .form-label{
        font-size: 1.7em;
        word-break: break-all;
        text-align: center;
    }
    .backup_picture{
        object-fit: contain;
        vertical-align: middle;
        width: 70%;
        margin-left: 15%; 
    }
    .accordion{
        width: 100%;
        margin-top: 30px;
        bottom: 0;
        margin-bottom: 30px;
        display: block;
    }
    /*accordion-collapse???*/
    .accordion-collapse .accordion-body,
    .accordion-collapse .accordion-body .list-group{
        height: 265px;
    }
    .accordion-body{
        padding: 0;
    }
    .accordion-body .list-group{
        font-size: 0.86em; 
        overflow: hidden; 
        overflow-y: scroll;
    }
    .accordion-body .list-group .list-group-item{
        word-break: break-all;
    }
    .row>.well>h3{
        font-size: 1.55em;
    }
    #plot{
        font-size: 1em;
    }
    #plotContainer{
        margin-top: 0px;
        margin-left: 0%;
    }
    #plotContainer .btn{
        margin-top: 0px;
        margin-left: 1px;
        font-size: 0.8em;
    }
}

a + a{
    margin-left: 10px;
}

#plot{
    word-wrap: break-word;
    text-align: left;
}

#movies .col-md-3{
    height: 100%;
}

.btn-circle{
    position:fixed;
      bottom:10%;
      right:1.5%;
      height: 75px;
      width: 75px;
      border-radius: 50%;
      border: 1px solid;
      font-size: 2.5em;
}

.top-shadow
{
    box-shadow: 0 0 50px 15px rgba(37, 37, 37, 0.6);
}
.bottom-shadow
{
    box-shadow: 0 0 50px 15px rgba(37, 37, 37, 0.6);
}
.all-shadow
{
    box-shadow: inset 0px 0 50px 15px rgba(37, 37, 37, 0.6);
}
.right-shadow
{
    box-shadow: inset -21px 0 27px -21px rgba(37, 37, 37, 0.6);;
}

.footer {
    color: #fff; /* Цвет текста */
    height: 6.5%;
    padding-left: 0.5%;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

  .wrapper {
    scale: 0.45;
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(-50%, -50%);
  }
  
  #hide-checkbox {
    opacity: 0;
    height: 0;
    width: 0;
  }
  
  .toggle {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 200px;
    height: 100px;
    background: #211042;
    border-radius: 50px;
    transition: 500ms;
    overflow: hidden;
  }
  
  .toggle-button {
    position: absolute;
    display: inline-block;
    top: 7px;
    left: 6px;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background: #FAEAF1;
    overflow: hidden;
    box-shadow: 0 0 35px 4px rgba(255, 255, 255);
    transition: all 500ms ease-out;
  }
  
  .crater {
    position: absolute;
    display: inline-block;
    background: #FAEAF1;
    border-radius: 50%;
    transition: 500ms;
  }
  
  .crater-1 {
    background: #FFFFF9;
    width: 86px;
    height: 86px;
    left: 10px;
    bottom: 10px;
  }
  
  .crater-2 {
    width: 20px;
    height: 20px;
    top: -7px;
    left: 44px;
  }
  
  .crater-3 {
    width: 16px;
    height: 16px;
    top: 20px;
    right: -4px;
  }
  
  .crater-4 {
    width: 10px;
    height: 10px;
    top: 24px;
    left: 30px;
  }
  
  .crater-5 {
    width: 15px;
    height: 15px;
    top: 40px;
    left: 48px;
  }
  
  .crater-6 {
    width: 10px;
    height: 10px;
    top: 48px;
    left: 20px;
  }
  
  .crater-7 {
    width: 12px;
    height: 12px;
    bottom: 5px;
    left: 35px;
  }
  
  .star {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 1px 0 2px 2px rgba(255, 255, 255);
  }
  
  .star-1 {
    width: 6px;
    height: 6px;
    right: 90px;
    bottom: 40px;
  }
  
  .star-2 {
    width: 8px;
    height: 8px;
    right: 70px;
    top: 10px;
  }
  
  .star-3 {
    width: 5px;
    height: 5px;
    right: 60px;
    bottom: 15px;
  }
  
  .star-4 {
    width: 3px;
    height: 3px;
    right: 40px;
    bottom: 50px;
  }
  
  .star-5 {
    width: 4px;
    height: 4px;
    right: 10px;
    bottom: 35px;
  }
  
  .star-6, .star-7, .star-8 {
    width: 10px;
    height: 2px;
    border-radius: 2px;
    transform: rotate(-45deg);
    box-shadow: 5px 0px 4px 1px #FFF;
    animation-name: travel;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }
  
  .star-6 {
    right: 30px;
    bottom: 30px;
    animation-delay: -2s;
  }
  
  .star-7 {
    right: 50px;
    bottom: 60px;
  }
  
  .star-8 {
    right: 90px;
    top: 10px;
    animation-delay: -4s;
  }
  
  @keyframes travel {
    0% {
      transform: rotate(-45deg) translateX(70px);
    }
  
    50% {
      transform: rotate(-45deg) translateX(-20px);
      box-shadow: 5px 0px 6px 1px #FFF;
    }
  
    100% {
      transform: rotate(-45deg) translateX(-30px);
      width: 2px;
      height: 2px;
      opacity: 0;
      box-shadow: none;
    }
  }
  
  #hide-checkbox:checked + .toggle {
    background: #24D7F7;
  }
  
  #hide-checkbox:checked + .toggle .toggle-button {
    background: #F7FFFF;
    transform: translateX(102px);
    box-shadow: 0 0 35px 5px rgba(255, 255, 255);
  }
  
  #hide-checkbox:checked + .toggle .toggle-button .crater {
    transform: rotate(-45deg) translateX(70px);
  }
  
  #hide-checkbox:checked + .toggle .star {
    animation: move 2s infinite;
    transform: none;
    box-shadow: none;
  }
  
  #hide-checkbox:checked + .toggle .star-1 {
    width: 40px;
    height: 10px;
    border-radius: 10px;
    background: #FFF;
    left: 20px;
    top: 25px;
    box-shadow: none;
  }
  
  #hide-checkbox:checked + .toggle .star-2 {
    width: 12px;
    height: 12px;
    background: #FFF;
    left: 26px;
    top: 23px;
    box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
  }
  
  #hide-checkbox:checked + .toggle .star-3 {
    width: 16px;
    height: 16px;
    background: #FFF;
    left: 35px;
    top: 19px;
    box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
  }
  
  #hide-checkbox:checked + .toggle .star-4 {
    width: 14px;
    height: 14px;
    background: #FFF;
    left: 46px;
    top: 21px;
    box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
  }
  
  #hide-checkbox:checked + .toggle .star-5 {
    width: 60px;
    height: 15px;
    border-radius: 15px;
    background: #FFF;
    left: 30px;
    bottom: 20px;
    box-shadow: none;
  }
  
  #hide-checkbox:checked + .toggle .star-6 {
    width: 18px;
    height: 18px;
    background: #FFF;
    border-radius: 50%;
    left: 38px;
    bottom: 20px;
    box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
  }
  
  #hide-checkbox:checked + .toggle .star-7 {
    width: 24px;
    height: 24px;
    background: #FFF;
    border-radius: 50%;
    left: 52px;
    bottom: 20px;
    box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
  }
  
  #hide-checkbox:checked + .toggle .star-8 {
    width: 21px;
    height: 21px;
    background: #FFF;
    border-radius: 50%;
    left: 70px;
    top: 59px;
    box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
  }
  
  @keyframes move {
    0% {
      transform: none;
    }
    
    25% {
      transform: translateX(2px);
    }
    
    100% {
      transform: translateX(-2px);
    }
  }
